<% include ../views/header %>
<script>
$(document).ready(function(){
	$("div#login-form").fadeIn(3200);
});
</script>
<div class="row" id="login-form" style="display:none">
		<div class="col col-md-6 mx-auto">
			<%if(typeof invalid_login == 'object' && invalid_login){ %>
			<div class="alert alert-danger">
				<strong>Username and/or password not found!</strong> Please try again.
			</div>
			<%}%>
			<%include ../views/forms/signin %>
		</div>
	</div>
</div>