	<form action="/signup" method="post">
	<div class="input-group form-group input-group-lg"><br/>
	<div class="input-group-prepend"><span class="input-group-text fa fa-user"></span></div>
	<input class="form-control" type="text" placeholder="First Name" name="fname"/>
	</div>
	<div class="input-group input-group-lg form-group"><br/>
	<div class="input-group-prepend"><span class="input-group-text fa fa-user"></span></div>
	<input class="form-control" type="text" placeholder="Last Name" name="lname"/>
	</div>
	<div class="input-group form-group input-group-lg"><br/>
	<div class="input-group-prepend"><span class="input-group-text fa fa-envelope"></span></div>
	<input class="form-control" type="email" placeholder="Email" name="email"/>
	</div>
	<div class="input-group form-group input-group-lg"><br/>
	<div class="input-group-prepend"><span class="input-group-text fa fa-lock"></span></div>
	<input class="form-control" type="password" placeholder="Password" name="pwd"/>
	</div>
	<div class="input-group form-group input-group-lg"><br/>
	<div class="input-group-prepend"><span class="input-group-text fa fa-lock"></span></div>
	<input class="form-control" type="password" placeholder="Confirm Password" name="pwd_c"/>
	</div>
	<div class="form-group">
	<button class="btn btn-primary float-right">Sign up!</button>
	</div>
	</form>